mixin profileModalAddress( user = {} )

  div(class="modal modal-profile-address")
    .modal-background
    .modal-header
    .modal-content
      .card
        .card-header
          .card-header-title
            h3 Address
        .card-content
          div(class="modal-message")
          form(class="modal-profile-form" action="/register" method="POST")
                              
            // Address 
            div(class="field")                
                p(class="control has-icons-left has-icons-right")
                  input(class="input" type="text" name="address" placeholder="Address" value=user && user.address)
                  span(class="icon is-small is-left")
                    i(class="fas fa-user")
                  span(class="icon is-small is-right")
                    i(class="fas fa-check")
                  
          // Buttons     
          div(class="field is-grouped")
            div(class="buttons is-right")
              // Update Profile Button
              a(class="button is-primary modal-profile-button" type="submit") 
                i(class="fas fa-sign-in-alt") 
                span &nbsp;Update Profile   
              // Cancel Close Button               
              a(class="button is-danger modal-close-address-profile") 
                i(class="fas fa-times")
                span &nbsp;Cancel
          // Message 
          div(class="message")
    .modal-footer            
    button(class="modal-close modal-close-address-profile is-large" aria-label="close") 
